@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
    font-family: "Lato", sans-serif;
}
section {
    width: 100%;
}
.section-container {
    padding: 40px 15%;
}
.title-container .title {
    font-size: 32px;
}
.title-container .subtitle {
    font-size: 24px;
}
#error-message {
    color: red;
    font-size: 12px;
}
#error-container {
    height: 15px;
}
