<!doctype html>
<html lang="en-US">
    <head>
        <title>Sundown</title>
        <meta charSet="UTF-8" />
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
  
        * {  
            font-family: 'Lato', sans-serif;
        }
    </style>

    <body>
        <h1>Sundown</h1>
        <h2>Get text notifications of the sunset quality.</h2>
        <form action="/api/create"><input type="text" id="phone" name="phone" placeholder="Phone Number"><input type="submit" value="Submit"> </form>
        <p>Uses <a href="https://sunsetwx.com/" target="_blank">SunsetWX</a> to determine quality. </p>
    </body>
</html>
