<!doctype html>
<html lang="en-US">
<link>
<title>Sundown</title>
<meta charSet="UTF-8" />
<link rel="stylesheet" href="../static/style.css">

</head>

<body>
	<section>
		<div class="section-container">
			<h1>Sundown</h1>
			<h2>Get text notifications of the sunset quality.</h2>
			<div>
				<input type="text" id="phone-input" name="phone" placeholder="Phone Number">
				<button id="phone-submit">Submit</button>
			</div>
			<p>Uses <a href="https://sunsetwx.com/" target="_blank">SunsetWX</a> to determine quality. </p>
		</div>
	</section>
	<!-- Load scripts at end for faster loads -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/script.js" async></script>
</body>


</html>