<!doctype html>
<html lang="en-US">
<link>
<title>Sundown - Get sunset quality notifications</title>
<link rel="icon" type="image/png" href="../static/assets/favicon.png">
<meta charSet="UTF-8" />
<meta name="description"
    content="Sunet predictions, delivered right to your phone. Get daily texts of the sunset quality for free." />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/style.css" defer>
</head>

<body>
    <section class="nav-bar">
        <div class="nav-container">
            <img class="logo" src="../static/assets/logo.png" alt="Sundown Logo" />
        </div>
    </section>
    <section class="title-section">
        <div class="title-container">
            <div class="left-display">
                <div class="left-container">
                    <h1 class="title">Daily sunset predictions,<br />right to your phone.</h1>
                    <p class="subtitle">Powered by <a rel="noreferrer" href="https://sunsetwx.com/"
                            target="_blank">SunsetWX</a> </p>

                    <div class="form-box">
                        <div class="form-box-container">
                            <h2 class="form-title">Get Started</h2>
                            <div class="form-row">
                                <select name="country-code" id="country-code">
                                    <option value="US">+1</option>
                                    <option value=null>Other</option>
                                </select>
                                <input type="text" id="phone-input" name="phone" placeholder="Phone Number">
                                <button id="phone-submit">Submit</button>
                            </div>
                            <div id="message-container">
                                <span id="success-message"></span>
                                <span id="error-message"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-display">

                <img src="../static/assets/phone-lines.png" alt="Sundown iPhone" class="iphone" />

            </div>

        </div>
    </section>
    <section class=" footer">
        <div class="footer-container">
            <div class="price">
                <p class="free">FREE FOREVER</p>
                <p class="disclaimer">*Msg & data rates may apply</p>
            </div>
            <p class="contact">Contact help@sundown.fun for support.</p>
        </div>
    </section>
    <!-- Load scripts at end for faster loads -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/libphonenumber-js@1.9.6/bundle/libphonenumber-min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfHUwoaAAAAAHnkVo-rX1kISiFiI9TRMwFEsEe7"></script>
    <script src="../static/script.js" async></script>
</body>


</html>